body {
  background-color: silver;
  border: dotted black 2pt;
  padding: 20pt;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
