body {
  background-color: silver;
  border: dotted black 2pt;
  padding: 50pt;
  margin: 25pt;
  font-family: sans-serif;
}


h1 {
  text-align: center;
  font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-style: italic;
  text-align: center;
}
h3 {
  font-style: italic;
  text-align: center;
}
p {
  color: maroon;

}
.field {
  text-align: center;
}
.project {
  border: dotted 2pt;
  border-color: darkred;
}
.intro {
  font-style: italic;
  color: darkgreen;
}
.fin {
  font-style: italic;
}
.middle {
  font-weight: 500;
}
