body {
  background-color: white;
  border: dotted black 2pt;
  padding: 50pt;
  margin: 25pt;
  font-family: sans-serif;
}


h1 {
  text-align: center;
  font-style: italic;
  color: maroon;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-style: italic;
  text-align: center;
  color: maroon;
}
h3 {
  font-style: italic;
  text-align: center;
  color: maroon;
}
p {
  color: darkred;

}
.field {
  text-align: center;
}
.project {
  border: dotted 2pt;
  border-color: darkred;
}
.column {
  width: auto;
  float: left;
  font-weight: 400;
}

.middle {
  font-weight: 600;
}
ul {
  color: darkgreen;
}
ol {
  color: purple;
}
